<?xml version="1.0"?>
<!-- Xacro for PRO Arms -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find pro_arm_description)/urdf/pro_arm_utils.xacro"/>
  <xacro:include filename="$(find pro_arm_description)/urdf/pro_arm.ros2_control"/>

  <!--            -->
  <!-- Properties -->
  <!--            -->
  <xacro:property name="mu" value="0.3"/>

  <!--            -->
  <!--    Lite    -->
  <!--    Servo   -->
  <xacro:property name="l1_torque_limit" value="19"/>
  <xacro:property name="l1_velocity_limit" value="1.31"/>
  <xacro:property name="l1_damping" value="0.1"/>
  <xacro:property name="l1_friction" value="0.5"/>
  <xacro:property name="l1_safety_k_position" value="0"/>
  <xacro:property name="l1_safety_k_velocity" value="7.66"/>

  <!--            -->
  <!--  Standard  -->
  <!--   Servo    -->
  <xacro:property name="s1_torque_limit" value="54"/>
  <xacro:property name="s1_velocity_limit" value="1.57"/>
  <xacro:property name="s1_damping" value="0.1"/>
  <xacro:property name="s1_friction" value="0.5"/>
  <xacro:property name="s1_safety_k_position" value="0"/>
  <xacro:property name="s1_safety_k_velocity" value="5.78"/>

  <!--            -->
  <!--    Mega    -->
  <!--    Servo   -->
  <xacro:property name="m1_torque_limit" value="130"/>
  <xacro:property name="m1_velocity_limit" value="1.13"/>
  <xacro:property name="m1_damping" value="0.1"/>
  <xacro:property name="m1_friction" value="0.5"/>
  <xacro:property name="m1_safety_k_position" value="0"/>
  <xacro:property name="m1_safety_k_velocity" value="66.4"/>

  <!--            -->
  <!--   Joints   -->
  <!--            -->
  <xacro:property name="base_joint_type" value="fixed"/>

  <xacro:property name="joint_1_type" value="revolute"/>
  <xacro:property name="joint_1_origin_xyz" value="0 0 0"/>
  <xacro:property name="joint_1_origin_rpy" value="1.5707963267949 0 0.0428232118686817"/>
  <xacro:property name="joint_1_axis_xyz" value="0 -1 0"/>
  <xacro:property name="joint_1_lower_limit" value="${-pi}"/>
  <xacro:property name="joint_1_upper_limit" value="${pi}"/>

  <xacro:property name="joint_2_type" value="revolute"/>
  <xacro:property name="joint_2_origin_xyz" value="0.0753209069561978 0.108 0"/>
  <xacro:property name="joint_2_origin_rpy" value="-0.004865934294438 0 0"/>
  <xacro:property name="joint_2_axis_xyz" value="-1 0 0"/>
  <xacro:property name="joint_2_lower_limit" value="${-pi}"/>
  <xacro:property name="joint_2_upper_limit" value="${pi}"/>

  <xacro:property name="joint_3_type" value="revolute"/>
  <xacro:property name="joint_3_origin_xyz" value="0 0.412499999999363 0"/>
  <xacro:property name="joint_3_origin_rpy" value="-1.56593039250046 0 0"/>
  <xacro:property name="joint_3_axis_xyz" value="1 0 0"/>
  <xacro:property name="joint_3_lower_limit" value="${-pi}"/>
  <xacro:property name="joint_3_upper_limit" value="${pi}"/>

  <xacro:if value="${'$(arg dof)' == '5'}">
    <xacro:property name="joint_4_type" value="fixed"/>
    <xacro:property name="joint_4_lower_limit" value="0.0"/>
    <xacro:property name="joint_4_upper_limit" value="0.0"/>
  </xacro:if>
  <xacro:if value="${'$(arg dof)' == '6'}">
    <xacro:property name="joint_4_type" value="revolute"/>
    <xacro:property name="joint_4_lower_limit" value="${-pi}"/>
    <xacro:property name="joint_4_upper_limit" value="${pi}"/>
  </xacro:if>
  <xacro:property name="joint_4_origin_xyz" value="-0.0253209069561977 0 0.075"/>
  <xacro:property name="joint_4_origin_rpy" value="1.5707963267949 0 0"/>
  <xacro:property name="joint_4_axis_xyz" value="0 -1 0"/>

  <xacro:property name="joint_5_type" value="revolute"/>
  <xacro:property name="joint_5_origin_xyz" value="0.0751686090232449 0.337500000000057 0"/>
  <xacro:property name="joint_5_origin_rpy" value="0 0 0"/>
  <xacro:property name="joint_5_axis_xyz" value="-1 0 0"/>
  <xacro:property name="joint_5_lower_limit" value="${-pi}"/>
  <xacro:property name="joint_5_upper_limit" value="${pi}"/>

    <!--       -->
    <!-- Macro -->
    <!--       -->
    <xacro:property name="default_origin_xyz" value="0 0 0"/>
    <xacro:property name="default_origin_rpy" value="0 0 0"/>
    <xacro:macro name="pro_arm_900" params="
      base_parent
      prefix
      origin_xyz:=${default_origin_xyz}
      origin_rpy:=${default_origin_rpy}
      collision:=true
      safety_limits:=false
      safety_position_margin:=${pi/180}
      ros2_control:=true
      ros2_control_plugin:=fake
      size:=900
      gazebo_preserve_fixed_joint:=false
    ">

    <!-- Base -->
    <xacro:pro_arm_joint_
    parent="${base_parent}"
    child="${prefix}base_link"
    joint_name="${prefix}base_joint"
    joint_type="${base_joint_type}"
    joint_origin_xyz="${base_joint_origin_xyz}"
    joint_origin_rpy="0 0 0"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:pro_arm_link
    link_name="${prefix}base_link"
    size="900"
    collision="${collision}"
    mu="${mu}"
    />

    <!-- 1 -->
    <xacro:pro_arm_joint_
    parent="${prefix}base_link"
    child="${prefix}link_1"
    joint_name="${prefix}joint_1"
    joint_type="${joint_1_type}"
    joint_origin_xyz="${joint_1_origin_xyz}"
    joint_origin_rpy="${joint_1_origin_rpy}"
    joint_axis_xyz="${joint_1_axis_xyz}"
    joint_lower_limit="${joint_1_lower_limit}"
    joint_upper_limit="${joint_1_upper_limit}"
    joint_velocity_limit="${m1_velocity_limit}"
    joint_torque_limit="${m1_torque_limit}"
    joint_damping="${m1_damping}"
    joint_friction="${m1_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${m1_safety_k_position}"
    safety_k_velocity="${m1_safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:pro_arm_link
    link_name="${prefix}link_1"
    size="900"
    collision="${collision}"
    mu="${mu}"
    />

    <!-- 2 -->
    <xacro:pro_arm_joint_
    parent="${prefix}link_1"
    child="${prefix}link_2"
    joint_name="${prefix}joint_2"
    joint_type="${joint_2_type}"
    joint_origin_xyz="${joint_2_origin_xyz}"
    joint_origin_rpy="${joint_2_origin_rpy}"
    joint_axis_xyz="${joint_2_axis_xyz}"
    joint_lower_limit="${joint_2_lower_limit}"
    joint_upper_limit="${joint_2_upper_limit}"
    joint_velocity_limit="${m1_velocity_limit}"
    joint_torque_limit="${m1_torque_limit}"
    joint_damping="${m1_damping}"
    joint_friction="${m1_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${m1_safety_k_position}"
    safety_k_velocity="${m1_safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:pro_arm_link
    link_name="${prefix}link_2"
    size="900"
    collision="${collision}"
    mu="${mu}"
    />

    <!-- 3 -->
    <xacro:pro_arm_joint_
    parent="${prefix}link_2"
    child="${prefix}link_3"
    joint_name="${prefix}joint_3"
    joint_type="${joint_3_type}"
    joint_origin_xyz="${joint_3_origin_xyz}"
    joint_origin_rpy="${joint_3_origin_rpy}"
    joint_axis_xyz="${joint_3_axis_xyz}"
    joint_lower_limit="${joint_3_lower_limit}"
    joint_upper_limit="${joint_3_upper_limit}"
    joint_velocity_limit="${s1_velocity_limit}"
    joint_torque_limit="${s1_torque_limit}"
    joint_damping="${s1_damping}"
    joint_friction="${s1_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${s1_safety_k_position}"
    safety_k_velocity="${s1_safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:pro_arm_link
    link_name="${prefix}link_3"
    size="900"
    collision="${collision}"
    mu="${mu}"
    />

    <!-- 4 -->
    <xacro:pro_arm_joint_
    parent="${prefix}link_3"
    child="${prefix}link_4"
    joint_name="${prefix}joint_4"
    joint_type="${joint_4_type}"
    joint_origin_xyz="${joint_4_origin_xyz}"
    joint_origin_rpy="${joint_4_origin_rpy}"
    joint_axis_xyz="${joint_4_axis_xyz}"
    joint_lower_limit="${joint_4_lower_limit}"
    joint_upper_limit="${joint_4_upper_limit}"
    joint_velocity_limit="${s1_velocity_limit}"
    joint_torque_limit="${s1_torque_limit}"
    joint_damping="${s1_damping}"
    joint_friction="${s1_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${s1_safety_k_position}"
    safety_k_velocity="${s1_safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:pro_arm_link
    link_name="${prefix}link_4"
    size="900"
    collision="${collision}"
    mu="${mu}"
    />

    <!-- 5 -->
    <xacro:pro_arm_joint_
    parent="${prefix}link_4"
    child="${prefix}link_5"
    joint_name="${prefix}joint_5"
    joint_type="${joint_5_type}"
    joint_origin_xyz="${joint_5_origin_xyz}"
    joint_origin_rpy="${joint_5_origin_rpy}"
    joint_axis_xyz="${joint_5_axis_xyz}"
    joint_lower_limit="${joint_5_lower_limit}"
    joint_upper_limit="${joint_5_upper_limit}"
    joint_velocity_limit="${l1_velocity_limit}"
    joint_torque_limit="${l1_torque_limit}"
    joint_damping="${l1_damping}"
    joint_friction="${l1_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${l1_safety_k_position}"
    safety_k_velocity="${l1_safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:pro_arm_link
    link_name="${prefix}link_5"
    size="900"
    collision="${collision}"
    mu="${mu}"
    />

     <!-- ROS 2 control -->
    <xacro:if value="${ros2_control}">
        <xacro:ros2_control_pro_arm prefix="${prefix}" plugin="${ros2_control_plugin}" command_interface="position"/>
    </xacro:if>

  </xacro:macro>

</robot>