<?xml version="1.0"?>
<!-- URDF for PRO Arms -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find pro_arm_description)/urdf/pro_arm_utils.xacro"/>
  <xacro:include filename="$(find pro_arm_description)/urdf/pro_arm.gazebo"/>

  <!--            -->
  <!-- Parameters -->
  <!--            -->
  <!-- Parameter to select dof version -->
  <xacro:arg name="dof" default="6"/>

  <!-- Parameter to select size version -->
  <xacro:arg name="size" default="550"/>

  <!-- Parameter to select gripper model -->
  <xacro:arg name="gripper" default="none"/>

  <!-- Parameter to select finger separation model -->
  <xacro:arg name="finger" default="40"/>

  <!-- Name of the robot (mandatory) -->
  <xacro:arg name="name" default="pro_arm"/>

  <!-- Prefix for all entities -->
  <xacro:arg name="prefix" default="pro_arm_"/>
  <!--"$(arg name)_"-->

  <!-- Flag to enable collision geometry for manipulator's arm -->
  <xacro:arg name="collision" default="true"/>

  <!-- Flag to enable ros2 controllers for manipulator -->
  <xacro:arg name="ros2_control" default="true"/>
  <!-- The ros2_control plugin that should be loaded for the manipulator ('fake', 'sim', 'real' or custom) -->
  <xacro:arg name="ros2_control_plugin" default="fake"/>
  <!-- The filepath to parameters of ROS 2 controllers -->
  <xacro:arg name="ros2_controller_parameters" default="$(find pro_arm_moveit)/config/controllers_$(arg dof)dof.yaml"/>

  <!-- Flag to preserve fixed joints and prevent lumping when generating SDF for Gazebo -->
  <xacro:arg name="gazebo_preserve_fixed_joint" default="false"/>


  <!--            -->
  <!-- Properties -->
  <!--            -->
  <!-- Prefixes -->
  <xacro:property name="prefix_arm" value="$(arg prefix)"/>

  <!-- Origin of robot in the world -->
  <xacro:property name="world_name" value="world"/>
  <xacro:property name="origin_xyz" value="0 0 0"/>
  <xacro:property name="origin_rpy" value="0 0 0"/>

  <!--       -->
  <!-- Robot -->
  <!--       -->
  <!-- Dummy world link that the robot is fixed to -->
  <xacro:pro_arm_dummy_link
    link_name="${world_name}"
    gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
  />

  <xacro:property name="base_joint_origin_xyz" value="0 0 0"/>
  <xacro:property name="joint_0_origin_xyz" value="0 0 0"/>
  
  <!-- Arm -->
  <xacro:if value="${'$(arg size)' == '550'}">
  <xacro:include filename="$(find pro_arm_description)/urdf/pro_arm_550.xacro"/>
    <xacro:pro_arm_550
      base_parent="${world_name}"
      prefix="${prefix_arm}"
      origin_xyz="${origin_xyz}"
      origin_rpy="${origin_rpy}"
      collision="$(arg collision)"
      ros2_control="$(arg ros2_control)"
      ros2_control_plugin="$(arg ros2_control_plugin)"
      gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
    />
  </xacro:if>
  <xacro:if value="${'$(arg size)' == '900'}">
  <xacro:include filename="$(find pro_arm_description)/urdf/pro_arm_900.xacro"/>
    <xacro:pro_arm_900
      base_parent="${world_name}"
      prefix="${prefix_arm}"
      origin_xyz="${origin_xyz}"
      origin_rpy="${origin_rpy}"
      collision="$(arg collision)"
      ros2_control="$(arg ros2_control)"
      ros2_control_plugin="$(arg ros2_control_plugin)"
      gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
    />
  </xacro:if>

  <!-- Gripper -->
  <xacro:if value="${'$(arg gripper)' == 'none'}">
  <xacro:include filename="$(find pro_arm_description)/urdf/no_gripper.xacro"/>
  <xacro:no_gripper
    pro_gripper="${'$(arg gripper)'}"
    prefix="${prefix_arm}"
    gripper="${'$(arg gripper)'}"
    size="${'$(arg size)'}"
    collision="$(arg collision)"
    ros2_control="$(arg ros2_control)"
    ros2_control_plugin="$(arg ros2_control_plugin)"
    gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
  />
  </xacro:if>
  <xacro:if value="${'$(arg gripper)' == 'pge_5040'}">
  <xacro:include filename="$(find pro_arm_description)/urdf/dh_gripper_pge_5040.xacro"/>
  <xacro:gripper_pge_5040
    pro_gripper="${'$(arg gripper)'}"
    prefix="${prefix_arm}"
    gripper="${'$(arg gripper)'}"
    finger="${'$(arg finger)'}"
    collision="$(arg collision)"
    ros2_control="$(arg ros2_control)"
    ros2_control_plugin="$(arg ros2_control_plugin)"
    gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
  />
  </xacro:if>
  <xacro:if value="${'$(arg gripper)' == 'cge_1010'}">
  <xacro:include filename="$(find pro_arm_description)/urdf/dh_gripper_cge_1010.xacro"/>
  <xacro:gripper_cge_1010
    pro_gripper="${'$(arg gripper)'}"
    prefix="${prefix_arm}"
    gripper="${'$(arg gripper)'}"
    finger="${'$(arg finger)'}"
    collision="$(arg collision)"
    ros2_control="$(arg ros2_control)"
    ros2_control_plugin="$(arg ros2_control_plugin)"
    gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
  />
  </xacro:if>

  <!-- Gazebo - ROS 2 control -->
  <xacro:if value="$(arg ros2_control)">
    <xacro:if value="${'sim' in '$(arg ros2_control_plugin)'}">
      <xacro:sim_ros2_control controller_parameters="$(arg ros2_controller_parameters)"/>
    </xacro:if>
  </xacro:if>

</robot>
